/node_modules
/doc
/testscripts*
/.nyc_output
/test.js
/Gulpfile.js
/coverage
/mockdate.js
/.npmignore


## Git
/.git
/.gitignore

## Docker
Dockerfile
/.dockerignore

## macOS
.DS_Store
.AppleDouble
.LSOverride
._*
